<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>

  <body>
    {{> header}}
    <p>hey, {{firstName}} {{lastName}}, welcome to home page.</p>

    {{> footer}}

  </body>

</html>
